<!-- UTILITY BAR: 1000px, Ukrainian blue/gold -->
<section class="utility-header-wrapper" aria-label="Live Ukraine updates">
  <div class="utility-header" style="max-width: 1000px; margin: 0 auto;">

    <!-- TOP ROW -->
    <div class="utility-header-top">

      <!-- LEFT: MAP -->
      <div class="utility-col utility-col-map">
        <div class="utility-map-wrapper">
          <svg id="ukraine-map" viewBox="0 0 800 500" class="ukraine-map" aria-label="Map of Ukraine with live oblast alerts">
            <g id="oblasts">
              <path id="oblast-kyiv-city" class="oblast" data-region="kyiv-city" data-name="Kyiv City"
                d="M100,100 L140,100 L140,140 L100,140 Z" />
              <path id="oblast-lviv" class="oblast" data-region="lviv" data-name="Lviv Oblast"
                d="M40,160 L90,160 L90,210 L40,210 Z" />
              <path id="oblast-kharkiv" class="oblast" data-region="kharkiv" data-name="Kharkiv Oblast"
                d="M520,120 L580,120 L580,180 L520,180 Z" />
              <path id="oblast-odesa" class="oblast" data-region="odesa" data-name="Odesa Oblast"
                d="M200,260 L260,260 L260,320 L200,320 Z" />
              <path id="oblast-mykolaiv" class="oblast" data-region="mykolaiv" data-name="Mykolaiv Oblast"
                d="M240,300 L300,300 L300,360 L240,360 Z" />
              <path id="oblast-dnipropetrovsk" class="oblast" data-region="dnipropetrovsk" data-name="Dnipropetrovsk Oblast"
                d="M420,220 L480,220 L480,280 L420,280 Z" />
              <path id="oblast-zaporizhzhia" class="oblast" data-region="zaporizhzhia" data-name="Zaporizhzhia Oblast"
                d="M460,280 L520,280 L520,340 L460,340 Z" />
              <path class="oblast" data-region="other-1" data-name="Ukraine Region"
                d="M140,140 L220,140 L220,200 L140,200 Z" />
              <path class="oblast" data-region="other-2" data-name="Ukraine Region"
                d="M260,160 L340,160 L340,220 L260,220 Z" />
              <path class="oblast" data-region="other-3" data-name="Ukraine Region"
                d="M340,200 L420,200 L420,260 L340,260 Z" />
            </g>
          </svg>
          <div id="map-tooltip" class="map-tooltip" role="tooltip"></div>
        </div>
      </div>

      <!-- TIMES: Kyiv + Bremerton -->
      <div class="utility-col utility-col-times">
        <div class="utility-times">
          <div class="utility-time-block">
            <span class="utility-time-label">Kyiv</span>
            <time id="time-kyiv" class="utility-time-value" datetime="">--:--</time>
          </div>
          <span class="utility-time-sep">|</span>
          <div class="utility-time-block">
            <span class="utility-time-label">Bremerton</span>
            <time id="time-bremerton" class="utility-time-value" datetime="">--:--</time>
          </div>
        </div>
      </div>

      <!-- CITY SPOTLIGHT: oblast name, weather, alert -->
      <div class="utility-col utility-col-city">
        <div class="city-spotlight">
          <img id="city-photo" class="utility-city-photo" src="" alt="">
          <div class="city-spotlight-text" id="city-spotlight-text"></div>
        </div>
      </div>

      <!-- CTA -->
      <div class="utility-col utility-col-cta">
        <a id="rotation-cta" href="/donate" class="utility-bar-cta">How You Can Help Today</a>
      </div>
    </div>

    <!-- BOTTOM ROW: Daily fact + News snippet -->
    <div class="utility-header-bottom">
      <div class="utility-bottom-inner">
        <div id="fact-of-day" class="fact-of-day"></div>
        <span class="utility-news-sep">·</span>
        <div id="news-snippet" class="news-snippet"></div>
      </div>
    </div>

  </div>
</section>
